<div class="container">
  <header>Payment Details</header>

  <form class="form" [formGroup]="reactiveForm" (ngSubmit)="onFormSubmitted()">
    
    <label>Email</label>
    <div class="input-box">
      <input type="email" maxlength="30" placeholder="example@gmail.com" formControlName="email" />
      <div *ngIf="reactiveForm.get('email')?.touched">
        <small *ngIf="reactiveForm.get('email')?.errors?.['required']">*Email is a required field</small>
        <small *ngIf="reactiveForm.get('email')?.errors?.['email']">*Please enter a valid email</small>
      </div>
    </div>

    <div class="input-box">
      <label>Age</label>
      <input type="text" maxlength="3" oninput="this.value = this.value.replace(/[^0-9]/g, '');" placeholder="Age" formControlName="age">
      <small *ngIf="reactiveForm.get('age')?.invalid && reactiveForm.get('age')?.touched">*Please enter a valid age (at least 16)</small>
    </div>
  
    <div class="input-box">
      <label>Card Number</label>
      <input type="text" maxlength="16" oninput="this.value = this.value.replace(/[^0-9]/g, '');" placeholder="1234 XXXX XXXX XXXX" formControlName="cardnum">
      <div *ngIf="reactiveForm.get('cardnum')?.touched">
        <small *ngIf="reactiveForm.get('cardnum')?.errors?.['required']">*Card Number is a required field</small>
        <small *ngIf="reactiveForm.get('cardnum')?.errors?.['luhnChk']">*Please enter a valid Card Number</small>
      </div>
    </div> 
    

    <div class="column">
      <div class="input-box-2 ">
        <label>Expiry Date</label>
        <br>
        <input type="text" mask="00/00" maxLength="5" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^(\d{2})(?=\d)/, '$1/'); " placeholder="MM/YY" formControlName="expnum" />
        <div *ngIf="reactiveForm.get('expnum')?.touched">
          <small *ngIf="reactiveForm.get('expnum')?.errors?.['required']">*Expiry date is a required field</small>
          <small *ngIf="reactiveForm.get('expnum')?.errors?.['isExp']">*Please enter a valid expiry date</small>
        </div>
      </div>
      <div class="input-box-2 ">
        <label>CVV</label>
        <br>
        <input type="text" mask="000" maxlength="3" oninput="this.value = this.value.replace(/[^0-9]/g, '');" placeholder="CVV" formControlName="cvc" />
        <!-- <div *ngIf="reactiveForm.get('cvc')?.touched">
          <small *ngIf="reactiveForm.get('cvc')?.errors?.['required']">*CVC is a required field</small>
          <small *ngIf="reactiveForm.get('cvc')?.errors?.['maxLength']">*Please enter a valid CVC</small>
        </div> -->
        <br>
        <small *ngIf="reactiveForm.get('cvc')?.invalid && reactiveForm.get('cvc')?.touched">*Please enter a valid CVC</small>

      </div>
    </div>

    <input type="submit" value="Submit" class="submit-btn" [disabled]="!reactiveForm.valid">
    
  </form>
</div>


<!-- <i class="bi bi-exclamation-circle"></i> -->